@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.center {
    width: clamp(700px, 100vw, 1200px);
    margin: 0 auto;
    padding: 0 2%;
}
.header  {
    min-width: 1200px;
    width: 100%;
    height: 60px;
    background: #212343;
}
.header img {
    margin: 15px;
}
.container-banner {
    width: 100%;
    height: 558px;
    background: url('../img/header_bg.png')no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.container-banner .center {
    height: 100%;
    text-align: right;
}
.form {
    padding: 10px;
    width: 400px;
    height: calc(100% + 30px);
    display: inline-block;
    position: relative;
    top: -15px;
    background: #fff;
    border: 8px solid rgba(120, 120, 120, 0.7);
    text-align: left;
    background-clip: padding-box;
    /*background-origin tambem é o mesmo conceito mas serve apenas para imagens*/
}
.form h2{
    font-weight: normal;
    color: #999;
    font-size: 1.3rem;
}
.input-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}
.input-container span {
    display: inline-block;
    font-size: 17px;
    color: #bbb;
}
.input-container input[type=text] {
    width: 354px;
    height: 55px;
    border: 1px solid #ccc;
    margin-top: 8px;
    box-sizing: border-box;
    padding: 0 5px;
    font-size: 1rem;
    outline-color: #bbb;
}
.form p {
    margin: 20px 0;
    display: inline-block;
    font-size: 17px;
    color: #bbb;
    width: 100%;
}
.form .input-submit-container {
    text-align: center;
}
.input-submit-container input {
    color: #fff;
    width: 280px;
    height: 56px;
    background: #363A6D;
    display: inline-block;
    border: 0;
    border-bottom: 6px solid #4A5097;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
}
.input-submit-container input:hover {
    background: #323665;
}
.container-list {
    padding: 30px;
    margin-top: 100px;
    float: left;
    width: 600px;
    height: 250px;
    background: rgba(33, 35, 67, 0.7);
    text-align: left;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
}
.container-list ul {
    list-style-position: inside;
}
.container-list ul li {
    margin-top: 18px;
    color: #fff;
}
/*corpo da pagina*/
.container-info {
    width: 100%;
    word-wrap: break-word;
    padding: 40px;
    background-color: #CCC;
    text-align: center;
}
.container-info h2 {
    font-weight: normal;
}
.container-info p {
    width: 698px;
    margin: 15px 0;
    display: inline-block;
    text-align: justify;
}
.arrow {
    position: relative;
    top: 60px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background: url('../img/arrow.png');
    background-size: 100% 100%;
}
.section-area {
    padding: 90px 0;
}
.section-area h2 {
    text-align: center;
    color: #462663;
    font-weight: normal;
}
.container-section-field {
    margin-top: 40px;
    text-align: center;
}
.container-single {
    float: left;
    margin: 10px 20px;
    padding: 30px;
    width: 30.333%;
    box-sizing: border-box;
    word-wrap: break-word;
}
.container-single img {
    width: 60px;
    height: 60px;
}
.container-single p {
    text-align: justify;
    padding: 30px 20px;
}
footer.credits {/*Final da pafina*/
    clear: both;
    border-top: 4px solid #888;
    padding: 30px 0;
    text-align: center;
    line-height: 2rem;
    color: #888;
}
footer.credits a {
    text-decoration: none;
    color: #444;
}
footer.credits a:hover {
    text-decoration: underline;
}